.hero {
    background: #eef1f8;
    &__blue {
        position: relative;
        height: 60vh;
        background: $bg-blue;
        border-radius: 22px 28px 0px 0px;
        p {
            display: flex;
            font-size: 15px;
            font-weight: 600;
            color: $text-white;
            margin-bottom: 10px;
            cursor: pointer;
        }
    }
    &__circle{
        width: 100%;
    }
    &__flex {
        display: flex;
        flex-direction: column;
        width: 124px;
        margin: 0 auto;
        padding-top: 240px;
    }
    &__register {
        position: absolute;
        top: 305px;
        left: 170px;
        width: 356px;
        height: 392px;
        border-radius: 20px;
        background: $text-white;
        box-shadow: 0px 10px 20px 0px $bg-dark-blue;
        margin: 0 auto;
        input {
            border: none;
            border-bottom: 1px solid $bg-light-gray;
            outline: none;
            width: 321px;
            padding-top: 45px;
        }

        form {
            padding: 0px 16px;
        }
        h1 {
            color: $bg-dark-blue;
            font-family: 'Inter';
            font-size: 24px;
            font-weight: 600;
            padding: 23px 0px 62px 0px;
            text-align: center;
        }
        p {
            color: $text-gray;
            font-family: 'Inter';
            font-size: 15px;
            font-weight: 600;
        }
    }
    &__top {
        padding-top: 44px;
    }
    &__position {
        position: relative;
        img {
            position: absolute;
            top: 105px;
            right: 0;
            cursor: pointer;
        }
    }
    &__come {
        display: flex;
        flex-direction: column;
        width: 122px;
        margin: 0 auto;
        padding-top: 27px;
        p {
            color: $bg-blue;
            font-size: 15px;
            font-weight: 600;
            padding-bottom: 15px;
            cursor: pointer;
        }
    }
}
@media screen and (max-width:652px) {
    .hero {
        &__register{
            left: 145px;
        }
    }
}

@media screen and (max-width:638px) {
    .hero {
        &__register{
            left: 145px;
        }
    }
}
@media screen and (max-width:620px) {
    .hero {
        &__register{
            top: 250px;
            left: 135px;
        }
    }
}
@media screen and (max-width:582px) {
    .hero {
        &__register{
            top: 240px;
            left: 120px;
        }
    }
}

@media screen and (max-width:548px) {
    .hero {
        &__register{
            top: 220px;
            left: 100px;
        }
    }
}
@media screen and (max-width:512px) {
    .hero {
        &__register{
            top: 210px;
            left: 80px;
        }
    }
}
@media screen and (max-width:484px) {
    .hero {
        &__register{
            top: 190px;
            left: 70px;
        }
    }
}

@media screen and (max-width:456px) {
    .hero {
        &__register{
            top: 170px;
            left: 60px;
        }
    }
}
@media screen and (max-width:430px) {
    .hero {
        &__register{
            top: 150px;
            left: 50px;
        }
    }
}

@media screen and (max-width:404px) {
    .hero {
        &__register{
            top: 120px;
            left: 25px;
        }
    }
}
@media screen and (max-width:388px) {
    .hero {
        &__register{
            top: 100px;
            left: 15px;
        }
    }
}
@media screen and (max-width:370px) {
    .hero {
        &__register{
            top: 80px;
            left: 6px;
        }
    }
}
@media screen and (max-width:356px) {
    .hero {
        &__register{
            width: 310px;
            top: 60px;
            left: 20px;
        }
        input{
            width: 289px;
        }
    }   
}

@media screen and (max-width:328px) {
    .hero {
        &__register{
            width: 310px;
            top: 60px;
            left: 10px;
        }
        input{
            width: 289px;
        }
    }   
}
@media screen and (max-width:320px) {
    .hero {
        &__register{
            width: 310px;
            top: 60px;
            left: 5px;
        }
        input{
            width: 289px;
        }
    }   
}





























